<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <script  src="angular.min.js"></script>
    <script  src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller='MsgController'>
     <h1>Lunch Checker</h1>
         <div class="form-group TextField">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated items"ut
             class="form-control" ng-model="input" style="border-color: {{borderColor}}" >

         </div>
         <br>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If You Eat Too Much</button>
         </div><br>
         <div class="form-group message">
           {{result}}
           <style>
      .message { font-size: 1.3em; font-weight: bold; color: {{colorResult}}; }
    </style>
         </div>
   </div>

</body>
</html>
