*{
    box-sizing: border-box;
}

p{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

li{
    border: 2px solid black;
    list-style: none;
    background-color: white;
}

.container{  
    margin-bottom: 12px;
    background-color: rgb(158, 151, 151);
    border: 1px solid black;
}

h1{
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

